# Data Splitting for Model Data

In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd

# consider 2011-2020 data first
url_list = [
    # "https://testground.s3.ap-southeast-1.amazonaws.com/3537ea83-529f-471b-92ef-bef6095bb850/1961-1990.csv",
    # "https://testground.s3.ap-southeast-1.amazonaws.com/3537ea83-529f-471b-92ef-bef6095bb850/1991-2000.csv",
    # "https://testground.s3.ap-southeast-1.amazonaws.com/3537ea83-529f-471b-92ef-bef6095bb850/2001-2010.csv",
    "https://testground.s3.ap-southeast-1.amazonaws.com/3537ea83-529f-471b-92ef-bef6095bb850/2011-2020.csv"
    ]

df_list = (pd.read_csv(file) for file in url_list)

df   = pd.concat(df_list, ignore_index=True)

X = df[['Latitude', 'Longitude']]  # Features: coordinates
y = df['Tave_wt']  # Target variable: temp average during winter

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [2]:
X_train.shape

(151, 2)

In [3]:
X_train.head()

     Latitude  Longitude
142      52.5     -125.5
172      50.5     -117.5
145      52.5     -122.5
80       57.5     -125.5
147      52.5     -120.5

In [4]:
X_test.head()

      Latitude   Longitude
77   57.500000 -128.500000
26   56.016667 -120.616667
41   59.500000 -130.500000
4    58.400000 -134.700000
160  51.500000 -117.500000