# Data Splitting for Model Data

In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd

url_list = [
    "https://testground.s3.ap-southeast-1.amazonaws.com/3537ea83-529f-471b-92ef-bef6095bb850/1961-1990.csv",
    "https://testground.s3.ap-southeast-1.amazonaws.com/3537ea83-529f-471b-92ef-bef6095bb850/1991-2000.csv",
    "https://testground.s3.ap-southeast-1.amazonaws.com/3537ea83-529f-471b-92ef-bef6095bb850/2001-2010.csv",
    "https://testground.s3.ap-southeast-1.amazonaws.com/3537ea83-529f-471b-92ef-bef6095bb850/2011-2020.csv"
    ]

df_list = (pd.read_csv(file) for file in url_list)

df   = pd.concat(df_list, ignore_index=True)

X = df[['Latitude', 'Longitude']]  # Features: coordinates
y = df['Tave_wt']  # Target variable: temp average during winter

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [2]:
X_train.shape

(604, 2)

In [3]:
X_train.head()

     Latitude  Longitude
242      58.5     -136.5
644      57.5     -128.5
151      51.5     -126.5
249      58.5     -129.5
59       58.5     -130.5

In [4]:
X_test.head()

     Latitude  Longitude
703      53.5     -121.5
345      51.5     -121.5
470      56.5     -128.5
613      59.5     -125.5
164      50.5     -125.5